.calculator {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background-color: lightgray;
  padding: 20px;
}

.screen {
  display: flex;
  flex: 1;
  max-height: 150px;
  background-color: lightgoldenrodyellow;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.grid {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  margin-top: 25px;
}

.row {
  display: flex;
  flex: 1;
  min-height: 100px;
}
 
.button {
  width: 109px;
  border-color: black;
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}
